.parent {
  display: grid;
  height: 50vh;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.image-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  overflow: hidden;
  div {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    padding: 30px;
    align-items: flex-end;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    background: linear-gradient(180deg, rgba(5, 7, 60, 0) 0%, #05073c 100%);
    p {
      margin: 0;
    }
  }
}

.div1 {
  grid-area: 1 / 1 / 3 / 3;
}
.div2 {
  grid-area: 1 / 5 / 2 / 8;
}
.div3 {
  grid-area: 1 / 3 / 2 / 5;
}
.div4 {
  grid-area: 2 / 3 / 3 / 5;
}
.div5 {
  grid-area: 2 / 6 / 3 / 8;
}
.div6 {
  grid-area: 2 / 5 / 3 / 6;
}

.popular__section {
  width: 100%;
  overflow: hidden;
  max-width: 1320px;
  margin: 5rem auto;

  .popular__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .popular__section {
    padding: 2rem;
  }
  .parent {
    display: flex;
    flex-direction: column;
    grid-row-gap: 15px;
    height: unset;
  }
  .image-container {
    height: 200px;
  }
}
