@import "../../Variables/Variables.scss";
.tour-page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $titleFont;

  .tour-details {
    text-align: center;
    margin-bottom: 30px;
    h1 {
      @include h1Style;
    }
    p {
      color: $blueColor;
      font-family: $bodyFont;
    }
    .booking__tour--text {
      margin-top: 2rem;
      color: red;
    }

    .tour-image {
      width: 100%;
      max-width: 600px;
      height: auto;
      border-radius: 10px;
    }

    .tour-title {
      font-size: 2rem;
      margin: 20px 0;
    }

    .tour-description {
      font-size: 1.2rem;
      margin: 10px 0;
    }

    .tour-price {
      font-size: 1.5rem;
      font-weight: bold;
      margin: 10px 0;
    }

    .book-button {
      @include buttonStyle;
      padding: 10px 20px;
    }
  }

  .comments-section {
    width: 100%;
    max-width: 600px;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }

    .comment-input {
      display: flex;
      margin-bottom: 20px;
      align-items: center;
      gap: 1rem;
      .rating-input {
        width: 20%;
        flex: 1;
      }

      input {
        flex: 9;
        padding: 10px;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-right: 10px;
      }

      button {
        background-color: #28a745;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 1rem;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: #218838;
        }
      }
    }

    .comments-list {
      list-style: none;
      padding: 0;
      span {
        font-size: 0.7rem;
        color: $orange;
        margin-left: 1rem;
      }

      .comment {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;

        button {
          background-color: #dc3545;
          color: white;
          border: none;
          padding: 5px 10px;
          font-size: 0.9rem;
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            background-color: #c82333;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .tour-page {
    padding: 10px;

    .tour-details {
      .tour-title {
        font-size: 1.5rem;
      }

      .tour-description {
        font-size: 1rem;
      }

      .tour-price {
        font-size: 1.2rem;
      }
    }

    .comments-section {
      h2 {
        font-size: 1.2rem;
      }
    }
  }
  .comment-input {
    flex-direction: column;
  }
}
