@import "../../Variables/Variables.scss";
.hero {
  position: relative;
  background-image: url("/herro.png");
  background-color: #fef8f5;
  background-size: cover;
  background-position: center;
  height: 80vh;

  display: flex;
  justify-content: center;
  text-align: center;

  &__content {
    color: white;
    // text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
  &__title {
    // margin-top: 15vh;
    background: linear-gradient(90.84deg, #ee8c61 27.01%, #4c43c4 87.3%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: $titleFont;
    // font-weight: 700;
    font-size: 60px;
  }
  &__title {
    font-size: 3rem;
    @media (max-width: 768px) {
      font-size: 2rem;
    }
    @media (max-width: 480px) {
      font-size: 1.5rem;
      .hero {
        height: 50%;
        width: 50%;
      }
    }
  }
}
