@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// !! COLORS
$blueColor: #05073c;
$gradientColor1: #ee8c61;
$gradientColor2: #4c43c4;
$orange: #eb662b;
$whiteColor: #fff;
$redColor: rgb(216, 142, 142);
$list1: $gradientColor1 27%, $gradientColor2 87%;
// !! FONTS
$titleFont: "Montserrat", sans-serif;
$bodyFont: "Poppins", sans-serif;
@mixin buttonStyle {
  width: 200px;
  height: 40px;
  background-color: $redColor;
  border: none;
  border-radius: 8px;
  color: $whiteColor;
  font-size: 25px;
}
@mixin gradient($direction, $list1) {
  background: linear-gradient($direction, $list1);
}

@mixin buttonStyle {
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  background-color: $orange;
  color: $blueColor;
  font-size: 1rem;
  font-family: $titleFont;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #c24008;
    color: white;
  }
}

@mixin h1Style {
  text-align: center;
  margin-bottom: 2rem;
  color: $blueColor;
  font-weight: 700;
  font-family: $titleFont;
}

@mixin labelStyle {
  margin-bottom: 0.5rem;
  color: $blueColor;
  font-family: $titleFont;
  font-weight: 500;
}
