@import "../../Variables/Variables.scss";
.login-page {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  p {
    font-family: $bodyFont;
    margin-top: 2rem;
    a {
      text-decoration: none;
      color: $blueColor;
      font-weight: 700;
      &:hover {
        color: $orange;
      }
    }
  }
  h1 {
    @include h1Style;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .form-group {
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 0.5rem;
        color: $blueColor;
        font-family: $titleFont;

        font-weight: 500;
        font-size: 1rem;
      }

      input[type="email"],
      input[type="password"] {
        padding: 0.5rem;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 1rem;
        color: #333;
      }
    }

    button {
      @include buttonStyle;
    }
  }
}
